<nav *ngIf="isLoggedIn" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/search']" role="button" (click)="reloadData()"><h2 class="title-container">Friendly Beer Finder
        <img style="padding: 0px 0px 12px 10px" src="./assets/images/logo_2.jpg" width="85px;"></h2></a>

    </div>
    <div class="nav navbar-nav navbar-right">

      <button class="btn btn-sm ontop" (click)="logout()">Log Out</button>
    </div>

  </div>
</nav>
<div *ngIf="isLoggedIn" class="container-fluid image-container">
  <img src="../assets/images/beer-finder-hops.jpeg" height="620px" style="opacity: 0.4">
</div>

<router-outlet></router-outlet>
