<div *ngIf="isLoggedIn">
  <div class="user-information">
      <img class="img-circle" src="{{user.profilePic}}" />
    <h2 class="user-name">{{ user.name }} {{ user.lastName }}</h2>
    <h3>Beers Owned</h3>
    <ul *ngFor="let ownedBeer of user.beers.ownList">
      <li>{{ ownedBeer.name }}</li>
    </ul>
    <h3>Wish List</h3>
    <ul *ngFor="let wishedBeer of user.beers.wishList">
      <li>{{ wishedBeer.name }}</li>
    </ul>
    <h3>History List</h3>
    <ul *ngFor="let hadBeer of user.beers.historyList">
      <li>{{ hadBeer.name }}</li>
    </ul>
  </div>
</div>
