.img-profile{
  width: 35px;
  margin-right: 5px;
  float: left;
}
.user-name{
  padding: 5px 0px;
}
.my-container{
  margin-top: 20px;
  height: 200px;
}
.my-container h3{
  margin: 5px 0px 5px 7px;
  text-align: justify;
}
.beer-image{
  width: 40px;
  margin-right: 10px;
}
ul{
  padding-left: 10px;
}
li{
  list-style-type: none;
}
.beers-counter{
  margin: 20px 0px;
  color: white;
  max-height: 260px;
  overflow: scroll;
}
.beers-counter h3{
  display: inline-block;
  margin: 20px 10px;
}
.yellow-header{
  background-color: rgb(248, 211, 53);
}
.green-header{
  background-color: rgba(89, 233, 75, 0.75);
}
.blue-header{
  background-color: #88D7FA;
}
.user-header h3{
  margin: 5px 10px;
}
.yellow-counter{
  background-color: rgb(248, 211, 53);
}
.blue-counter{
  background-color: #88D7FA;
}
.green-counter{
  background-color: rgba(89, 233, 75, 0.75);
}
.user-counter{

  text-align: right;
}
.user-counter h3{
  margin: 5px 10px;
}
.beer-list{
  color: black;
  position: relative;
  top: 10px;
}
.btn{
  padding: 6px;
}
.btn-delete{
  margin-bottom: 10px;
  background-color: #FF5F58;
  color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.btn-history{
  margin-bottom: 10px;
  background-color: #88D7FA;
  color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.btn-event{
  margin-bottom: 10px;
  background-color: #F9D414;
  color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.buttons{
  margin-left: 50px;
}
