<form (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">
  <h2>Connect with friends:</h2>
      <input type="text" name="name" [(ngModel)]="name" #myName="ngModel"
      auto-complete min-chars = '2' max-num-list = '10' [source]="userNames">

  <button class="btn btn-lg" type="submit"> Search</button>
</form>

  <div *ngIf="foundUser">
  <div class="user-information col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <img *ngIf="image" class="img-found-profile" src="{{foundUser.large}}" />
    <img *ngIf="!image" class="img-found-profile" src="../assets/images/beer-flat.png" />
    <div class="found-user-name">
      <h3>Name: {{ foundUser.name }} {{ foundUser.lastName }}</h3>
      <h4>Username: {{ foundUser.username }}</h4>
    </div>
    <div class="found-user-beers">
      <p>Beers Owned: {{ foundUser.beers.ownList.length }} -
        Wishlist: {{ foundUser.beers.wishList.length }} -
        History list: {{ foundUser.beers.historyList.length }}</p>
    </div>
  </div>
    <div style="margin-top: 20px;" class="add-button col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <button (click)=addFriend(foundUser) class="btn btn-sm btn-request">Add Friend</button>
    </div>
  </div>

  <div *ngIf="notifications" class="notifications col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="btn-group">
    <button type="button" class="btn btn-notifications dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Friends Requests: {{ notifications.length }}
    </button>
    <div class="dropdown-menu">
      <div *ngFor="let notification of notifications">
        <p *ngIf="notification.requestSent">Awaiting response from {{ notification.fullName }}</p>
      </div>
      <div class="dropdown-divider"></div>
      <div *ngFor="let notification of notifications">
        <p *ngIf="notification.friendRequest">{{ notification.fullName }} hast sent you a notification<br>
          <button class="btn btn-sm btn-accept" (click)="acceptFriend(notification)">Accept</button>
          <button class="btn btn-sm btn-decline" (click)="decline(notification)">Decline</button>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="friends" class="friends col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <div class="btn-group">
  <button type="button" class="btn btn-friends dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Friends: {{ friends.length }}
  </button>
  <div class="dropdown-menu">
    <div *ngIf="notifications" class="notifications col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div *ngIf="friends" class="list-of-friends">
        <div *ngFor="let friend of friends">
          <a><img src="{{friend.image}}">{{friend.fullName}}</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
