
@font-face {
    font-family: 'SlimTony';
    src: url('../../assets/fonts/SlimTony.otf');
    font-weight: normal;
    font-style: normal;
}

.left-panel{
  margin-top: 50px;
  float: left;
}
.title-container{
  padding-left: 0px;
  font-family: SlimTony;
  color: rgb(248, 211, 53);
}
.title-container > h1{
  font-size: 40px;
}
.image-container{
  text-align: center;
}
.right-panel{
  margin-top: 125px;
  float: right;
  position: relative;
}
.right-panel-login{
  margin-top: 125px;
}
.lower{
  margin-top: 200px;
}
#slogan{
  margin: 5px 0px 5px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.btn-lg{
  margin-bottom: 10px;
  background-color: rgb(248, 211, 53);
  color: white;
  width: 100%;
}
.btn-login{
  background-color: transparent;
  border: none;
  color: rgb(248, 211, 53);
}
input[type=text], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type=password], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
