<div class="full" ng-view>

<div class="container left-panel col-lg-7 col-md-7 col-sm-7 col-xs-7">
  <div class="title-container">
    <h1>Friendly Beer Finder</h1>
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <img style="padding: 10px 0px 0px 60px" src="../assets/images/beer-finder-1.png" width="650px" height="500px">
    </div>

    <div class="item">
      <img style="padding: 10px 0px 0px 60px" src="../assets/images/beer-finder-2.png" width="650px" height="500px">
    </div>

    <div class="item">
      <img style="padding: 10px 0px 0px 60px" src="../assets/images/beer-finder-3.png" width="650px" height="500px">
    </div>


    </div>
  </div>
</div>

<div *ngIf="!loginReady" class="container right-panel col-lg-4 col-md-4 col-sm-4 col-xs-4">

  <h2 id="slogan" style="text-align:center">Join a social platform for craft beer aficionados.</h2>

  <div class="signup-form">
    <form>
      <input placeholder="Name" type="text" [(ngModel)]="formInfo.name" name="name"/>
      <br>
      <input placeholder="Last Name" type="text" [(ngModel)]="formInfo.lastName" name="lastName"/>
      <br>
      <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="username"/>
      <br>
      <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="password"/>
      <br>
      <button class="btn-lg"(click)="signup()"> Signup </button>
    </form>
    <h3 style="text-align:center">Already a member? <button class="btn-login" (click)="switchLoginReady()">Login</button></h3>
  </div>

  </div>

  <div *ngIf="loginReady" class="container right-panel-login col-lg-4 col-md-4 col-sm-4 col-xs-4">

  <h2 id="slogan" style="text-align:center">Join a social platform for craft beer aficionados.</h2>

  <div *ngIf="loginReady" class="login-form">
    <form>
      <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="loginUsername"/>
      <br>
      <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="loginPassword"/>
      <br>
      <button class="btn-lg"(click)="login()"> Login </button>
    </form>
    <h3 style="text-align:center">Not a member? <button class="btn-login" (click)="switchLoginReady()">Sign Up</button></h3>
  </div>

</div>

<div style="margin: 20px"class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <p style="float: right; padding-right: 50px">Friendly Beer Finder™</p>
</div>

</div>
