
<body>

    <!-- Navigation -->
    <nav style="padding: 0px 20px" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a [routerLink]="['/']" role="button"><h2 class="title-container">Friendly Beer Finder</h2></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="nav navbar-nav navbar-right">
              <div *ngIf="!isLoggedIn" class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuLogIn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Log In
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLogIn">
                  <div class="login-form">
                    <form>
                      <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="loginUsername"/>
                      <br>
                      <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="loginPassword"/>
                      <br>
                      <button class="btn btn-lg"(click)="login(); false"> Login </button>
                    </form>
                  </div>
                </div>
              </div>
                <div *ngIf="!isLoggedIn" class="dropdown">
                  <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign Up
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form>
                      <input placeholder="Name" type="text" [(ngModel)]="formInfo.name" name="name"/>
                      <br>
                      <input placeholder="Last Name" type="text" [(ngModel)]="formInfo.lastName" name="lastName"/>
                      <br>
                      <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="username"/>
                      <br>
                      <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="password"/>
                      <br>
                      <button class="btn btn-lg"(click)="signup()"> Signup </button>
                    </form>
                  </div>
                </div>
              <div *ngIf="isLoggedIn">
                <button class="btn btn-sm ontop" (click)="logout()">Log Out</button>
              </div>
            </div>

            <!-- /.navbar-collapse -->

    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../assets/images/beer-finder-1.jpeg');"></div>

            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../assets/images/beer-finder-2.jpeg');"></div>

            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../assets/images/beer-finder-3.jpeg');"></div>

            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

</body>
