<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a [routerLink]="['/']" role="button" (click)="reloadData()"><h2 class="title-container">Friendly Beer Finder</h2></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="nav navbar-nav navbar-right">
          <div *ngIf="!isLoggedIn" class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuLogIn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log In
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLogIn">
              <div class="login-form">
                <form>
                  <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="loginUsername"/>
                  <br>
                  <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="loginPassword"/>
                  <br>
                  <button class="btn btn-lg"(click)="login(); false"> Login </button>
                </form>
              </div>
            </div>
          </div>
            <div *ngIf="!isLoggedIn" class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign Up
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form>
                  <input placeholder="Name" type="text" [(ngModel)]="formInfo.name" name="name"/>
                  <br>
                  <input placeholder="Last Name" type="text" [(ngModel)]="formInfo.lastName" name="lastName"/>
                  <br>
                  <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="username"/>
                  <br>
                  <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="password"/>
                  <br>
                  <button class="btn btn-lg"(click)="signup()"> Signup </button>
                </form>
              </div>
            </div>
          <div *ngIf="isLoggedIn">
            <button class="btn btn-sm ontop" (click)="logout()">Log Out</button>
          </div>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container-fluid col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <app-user></app-user>
  <app-friends></app-friends>
</div>


<div class="container-fluid col-lg-8 col-md-8 col-sm-8 col-xs-8">

  <div class="container search-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">
      <h1>Find New Beers:</h1>
        <input auto-complete min-chars = '3' max-num-list = '10' type="text" name = "name" [(ngModel)]="name" [source]="beers" #myName="ngModel">

      <button class="btn btn-lg" type="submit"> Search</button>
    </form>

      <div *ngIf="!beer">
        <h3 style="padding 0px 10px 5px 10px">Find new beers from all over the world. Learn their history and add them to your lists.</h3>
      </div>

      <div *ngIf="beer" class="beer-information">
        <div class="beer-header">
          <img *ngIf="image" class="img-profile" src="{{image.large}}" />
          <img *ngIf="!image" class="img-profile" src="../assets/images/beer-flat.png" />
          <div *ngIf="!data">
            <h2>Oops! We can't find that beer. <br> Try again.</h2>
          </div>
          <h1>{{ beer.data[0].name }} <h1 style="display: inline; font-style: italic">{{ beer.data[0].abv }}%</h1>
          <h3 style="margin-bottom= 0px" *ngIf="style">{{ beer.data[0].style.shortName }}</h3>
          <h3 style="margin-bottom= 0px" *ngIf="brewery">{{ beer.data[0].breweries[0].name }}</h3>
          <div *ngIf="data">
            <button class="btn btn-add btn-yellow" (click)="addBeer(beer, 'ownList')">Own</button>
            <button class="btn btn-add btn-green" (click)="addBeer(beer, 'wishList')">Want</button>
            <button class="btn btn-add btn-blue" (click)="addBeer(beer, 'historyList')">Had</button>
          </div>

          </h1>
        </div>

      <div *ngIf="!description" class="beer-description">
        <p>{{ beer.data[0].description }}</p>
      </div>
        <p *ngIf="description">{{ beer.data[0].style.description }}</p>

      </div>
  </div>

  <div class="container search-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <app-brewery-search></app-brewery-search>
  </div>

  <div class="container search-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <app-events></app-events>
  </div>


</div>
