<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="title-container">Friendly Beer Finder</h2>

    </div>
    <div class="nav navbar-nav navbar-right">
      <button class="btn-sm" (click)="logout()">Log Out</button>
    </div>

  </div>
</nav>

<div class="container col-lg-3 col-md-3 col-sm-3 col-xs-3">
  <app-user></app-user>
</div>

<div class="container search-container col-lg-5 col-md-5 col-sm-5 col-xs-5">

<form (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">
  <h1>Find New Beers:
    <input type="text" name="name" [(ngModel)]="name" #myName="ngModel">
    <div *ngIf="beer">
    <h1>{{ beer.data[0].name }}</h1>
    </div>
  </h1>
  <button class="btn-lg" type="submit"> Search</button>
</form>


</div>
