<div class="my-events">
  <h2>My Events </h2>
  <div *ngIf="organizedEvents">
    <div *ngFor="let organizedEvent of organizedEvents">

      <div class="btn-group">
        <button class="btn btn-organized btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="event-name col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>{{ organizedEvent.name }}</h4>
          </div>
        </button>
        <div class="dropdown-menu">
          <div class="event-organizer col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h5>Organized by:</h5>
            <p>{{ organizedEvent.organizer.fullName}}</p>
          </div>
          <div class="event-guests col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h5>Guests</h5>
            <div *ngFor="let guest of organizedEvent.guests">
              <p> {{ guest.fullName }}</p>
            </div>
          </div>
          <div class="event-address col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5>Address:</h5>
            <p> {{ organizedEvent.address }}</p>
          </div>
          <div class="event-date col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5>Date:</h5>
            <p> {{ organizedEvent.date | date: short }} </p>
          </div>
          <div class="event-beers col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div *ngIf="organizedEvent.beers">
              Beers:
              <div *ngFor="let beer of organizedEvent.beers">
                <span>{{ beer.name }}</span>
              </div>
            </div>
            <button class="btn btn-md btn-delete" (click)="deleteEvent(organizedEvent)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <button (click)=eventWindow() class="btn btn-add-event"> + Add new event</button>
  <div *ngIf="createEventWindow" class="create-event-window">
    <form (ngSubmit)="onSubmit(myForm.value)"  #myForm="ngForm">
      <fieldset>
        <legend> New Event: </legend>
        <label> Location: </label>
        <input name="address" type="text" [(ngModel)]="formatted_address"
         [options]='options'
         (setAddress) = "getAddress($event)"
         (street_number) = 'street_number=$event'
         (street)= 'street=$event'
         (city)= 'city=$event'
         (state)='state=$event'
         (district)='district=$event'
         (country)='country=$event'
         (postal_code)='postal_code=$event'
         (lat)='lat=$event'
         (lng)='lng=$event'
         (formatted_address)='formatted_address=$event'
         (adr_address)='adr_address=$event'
         (name)='name=$event'
         (place_id)='place_id=$event'
         (types)='types=$event'
         (url)='url=$event'
         (utc_offset)='utc_offset=$event'
         (vicinity)='vicinity=$event'
         (photos)='photos=$event'
         (airport)='airport=$event'
         (CountryCodes)='CountryCodes=$event'
          id="autocomplete"
         ng2-google-place-autocomplete/>

        <label> Event Name: </label>
        <input type="text" [(ngModel)]="event" name="name" required /><br>

        <label> Date: </label>
        <input  type="date" [(ngModel)]="date" name="date" required/><br>

        <label> Guests: </label>

        <angular2-multiselect [data]="userNames" #myName="ngModel" name="guests" [(ngModel)]="guests"
            [settings]="dropdownSettings"
            (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>

        <label> Beers: </label>

        <angular2-multiselect [data]="ownedBeers" #myName="ngModel" name="beers" [(ngModel)]="beers"
            [settings]="dropdownSettings"
            (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>

      </fieldset>
      <button class="btn btn-lg btn-submit" type="submit"> Submit </button>
    </form>
</div>


<div class="friend-events">
  <h2>Friend Events </h2>
  <div *ngIf="invitedEvents">
    <div *ngFor="let invitedEvent of invitedEvents">

      <div class="btn-group">
        <button class="btn btn-invited btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="event-name col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>{{ invitedEvent.name }}</h4>
          </div>
        </button>
        <div class="dropdown-menu">
          <div class="event-organizer col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h5>Organized by:</h5>
            <p>{{ invitedEvent.organizer.fullName}}</p>
          </div>
          <div class="event-guests col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h5>Guests</h5>
            <div *ngFor="let guest of invitedEvent.guests">
              <p> {{ guest.fullName }}</p>
            </div>
          </div>
          <div class="event-name col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5>Address:</h5>
            <p> {{ invitedEvent.address }}</p>
          </div>
          <div class="event-date col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5>Date:</h5>
            <p> {{ invitedEvent.date | date: short }}</p>
          </div>
          <div class="event-beers col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div *ngIf="invitedEvent.beers">
              Beers:
              <div *ngFor="let beer of invitedEvent.beers">
                <span>{{ beer.name }}</span>
              </div>
            </div>
          </div>

          <button class="btn btn-md btn-delete" (click)="deleteEvent(invitedEvent)">Not attending</button>

        </div>
      </div>
    </div>
  </div>
</div>
