<div *ngIf="profile" class="profile-info profile-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container-fluid">
    <h1>{{ profile.name }} {{ profile.lastName}}</h1>
    <h4>@{{ profile.username }}</h4>
  </div>

  <div class="history-beer col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <h2>Double Click to rate your beers: </h2>
    <div *ngFor="let historyBeer of profile.beers.historyList">
      <li><img class="beer-image" src="{{historyBeer.image}}"><h5>{{ historyBeer.name }}</h5>
      <rating *ngIf="user._id == profile._id" [(ngModel)]="historyBeer.rating" (click)="onSubmit(historyBeer, historyBeer.rating)"></rating>
      <br/><br/> - <h6>{{ historyBeer.style }}</h6><br><h6>{{ historyBeer.brewery }}</h6></li>
    </div>
  </div>

<div class="upcoming-events col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <div *ngIf="organizedEvents.length > 0">
  <h1>My events: </h1>
    <div *ngFor="let organizedEvent of organizedEvents">
      <h2>{{ organizedEvent.name }}</h2>
      <h3>Address: {{ organizedEvent.address }}</h3>
      <h3>Date: {{ organizedEvent. date | date: short }}</h3>
    <div *ngIf="organizedEvent.guests.length > 0">
      <h3>Guests: </h3>
      <div *ngFor="let guest of organizedEvent.guests">
        {{ guest.fullName }}
      </div>
    </div>
    <div *ngIf="organizedEvent.beers.length > 0">
      <h3>Beers: </h3>
      <div *ngFor="let beer of organizedEvent.beers">
        {{ beer.name }}
      </div>
    </div>
    <button class="btn btn-md btn-delete" (click)="deleteEvent(organizedEvent)">Delete</button>
  </div>
</div>
</div>

<div class="invited-events col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <div *ngIf="invitedEvents.length > 0">
  <h1>Invited events: </h1>
    <div *ngFor="let invitedEvent of invitedEvents">
      <h2>{{ invitedEvent.name }}</h2>
      <h3>Address: {{ invitedEvent.address }}</h3>
      <h3>Date: {{ invitedEvent.date | date: short }}</h3>
    <div *ngIf="organizedEvent.guests.length > 0">
      <h3>Guests: </h3>
      <div *ngFor="let guest of invitedEvent.guests">
        {{ guest.fullName }}
      </div>
    </div>
    <div *ngIf="invitedEvent.beers.length > 0">
      <h3>Beers: </h3>
      <div *ngFor="let beer of invitedEvent.beers">
        {{ beer.name }}
      </div>
    </div>
    <button class="btn btn-md btn-delete" (click)="deleteEvent(invitedEvent)">Delete</button>
  </div>
</div>
</div>
