<nav style="padding: 0px 20px" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a [routerLink]="['/search']" role="button"><h2 class="title-container">Friendly Beer Finder</h2></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="nav navbar-nav navbar-right">
          <div *ngIf="!isLoggedIn" class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuLogIn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log In
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLogIn">
              <div class="login-form">
                <form>
                  <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="loginUsername"/>
                  <br>
                  <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="loginPassword"/>
                  <br>
                  <button class="btn btn-lg"(click)="login(); false"> Login </button>
                </form>
              </div>
            </div>
          </div>
            <div *ngIf="!isLoggedIn" class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign Up
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form>
                  <input placeholder="Name" type="text" [(ngModel)]="formInfo.name" name="name"/>
                  <br>
                  <input placeholder="Last Name" type="text" [(ngModel)]="formInfo.lastName" name="lastName"/>
                  <br>
                  <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="username"/>
                  <br>
                  <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="password"/>
                  <br>
                  <button class="btn btn-lg"(click)="signup()"> Signup </button>
                </form>
              </div>
            </div>
          <div *ngIf="isLoggedIn">
            <button class="btn btn-sm ontop" (click)="logout()">Log Out</button>
          </div>
        </div>

        <!-- /.navbar-collapse -->
</nav>
<div class="container-fluid col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <div *ngIf="profile" class="profile-info profile-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>{{ profile.name }} {{ profile.lastName}}</h1>
      <h4>@{{ profile.username }}</h4>

    <div style="padding-left: 0px" class="history-beer col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Double Click to rate your beers: </h2>
      <div *ngFor="let historyBeer of profile.beers.historyList">
        <li><img class="beer-image" src="{{historyBeer.image}}"><h5>{{ historyBeer.name }}</h5>
        <rating *ngIf="user._id == profile._id" [(ngModel)]="historyBeer.rating" (click)="onSubmit(historyBeer, historyBeer.rating)"></rating>
        <br/><br/> - <h6>{{ historyBeer.style }}</h6><br><h6>{{ historyBeer.brewery }}</h6></li>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid col-lg-8 col-md-8 col-sm-8 col-xs-8">
  <div class="all-events col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="upcoming-events col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h1>My events: </h1>
        <div *ngIf="organizedEvents.length > 0">
          <div *ngFor="let organizedEvent of organizedEvents">
            <h2>{{ organizedEvent.name }}</h2>
            <h3>Address: {{ organizedEvent.address }}</h3>
            <h3>Date: {{ organizedEvent. date | date: short }}</h3>
          <div *ngIf="organizedEvent.guests.length > 0">
            <div style="padding: 0px" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h3>Guests: </h3>
              <div *ngFor="let guest of organizedEvent.guests" >
                {{ guest.fullName }}
              </div>
            </div>
          </div>
          <div *ngIf="organizedEvent.beers.length > 0">
            <div style="padding: 0px" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h3>Beers: </h3>
              <div *ngFor="let beer of organizedEvent.beers">
                {{ beer.name }}
              </div>
            </div>
          </div>
          <div style="padding: 0px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-md btn-delete" (click)="deleteEvent(organizedEvent)">Delete</button>
          </div>
        </div>
      </div>
    </div>

  <div class="invited-events col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h1>Invited events: </h1>
      <div *ngIf="invitedEvents.length > 0">
          <div *ngFor="let invitedEvent of invitedEvents">
            <h2>{{ invitedEvent.name }}</h2>
            <h3>Address: {{ invitedEvent.address }}</h3>
            <h3>Date: {{ invitedEvent.date | date: short }}</h3>
          <div *ngIf="invitedEvent.guests.length > 0">
            <div style="padding: 0px" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h3>Guests: </h3>
              <div *ngFor="let guest of invitedEvent.guests" >
                {{ guest.fullName }}
              </div>
            </div>
          </div>
          <div *ngIf="invitedEvent.beers.length > 0">
            <div style="padding: 0px" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h3>Beers: </h3>
              <div *ngFor="let beer of invitedEvent.beers">
                {{ beer.name }}
              </div>
            </div>
          </div>
          <div style="padding: 0px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-md btn-delete" (click)="deleteEvent(invitedEvent)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
